@model IEnumerable<IcraTakipProgrami.Models.Urun.UrunViewModel>


<div class="modal fade bd-example-modal-lg" id="create" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal içeriği buraya gelecek -->
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content halildeneme">
            <!-- AJAX isteği sonucunda dönen HTML içeriği buraya yerleştirilecek -->
        </div>
    </div>
</div>


<div class="table-responsive" style="max-width: 100%; overflow-x: auto;">
    <button type="button" class="btn btn-primary mb-3" style="float:right" onclick="Create()">Ürün Ekle</button>

    <table id="example" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Müşteri Ad</th>
                <th>Avukat Ad</th>
                <th>Ürün Adı</th>
                <th>Kredi Mudi No</th>
                <th>Takip Miktarı</th>
                <th>Döviz Tipi</th>
                <th>Aylık Faiz Oranı</th>
                <th>Takip Tarihi</th>
                <th>Masraf Mudi No</th>
                <th>Masraf Bakiyesi</th>
                <th>Faiz Mudi No</th>
                <th>Faiz Bakiyesi</th>
                <th>Takip Birim Kodu</th>
                <th>Takip Mudi No</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var urun in Model)
            {
                <tr>
                    <td>@urun.Id</td>
                    <td>@urun.MusteriAd</td>
                    <td>@urun.AvukatAd</td>
                    <td>@urun.UrunAdi</td>
                    <td>@urun.KrediMudiNo</td>
                    <td>@urun.TakipMiktari</td>
                    <td>@urun.DovizTipi</td>
                    <td>@urun.AylikFaizOrani</td>
                    <td>@urun.TakipTarihi</td>
                    <td>@urun.MasrafMudiNo</td>
                    <td>@urun.MasrafBakiyesi</td>
                    <td>@urun.FaizMudiNo</td>
                    <td>@urun.FaizBakiyesi</td>
                    <td>@urun.TakipBirimKodu</td>
                    <td>@urun.TakipMudiNo</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>&#8942;</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <div style="width:50px; margin-left:30px;text-align:center">
                                    <button type="submit" onclick="openEditModal(@urun.Id)" class="btn btn-success" style="width:100px;margin:auto; height:30px">Güncelle</button>

                                <form asp-action="Delete" method="post" onsubmit="return confirm('emin misiniz')" style="display: inline-block;">
                                    <input type="hidden" value="@urun.Id" name="id">
                                    <button style="width:100px;margin-top:10px; height:30px" type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                        </div>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

        .table-responsive::-webkit-scrollbar {
            height: 5px; /* Yatay kaydırma çubuğu yüksekliği */
            background-color: #f5f5f5; /* Kaydırma çubuğu arka plan rengi */
        }

        .table-responsive::-webkit-scrollbar-thumb {
            background-color: #888; /* Kaydırma çubuğu rengi */
            border-radius: 5px; /* Kenar yuvarlama */
        }

    .container {
        max-width: 1200px; /* Tablonun genişliğini artırabilirsiniz */
        margin: 0 auto; /* Tabloyu merkezlemek için */
    }
</style>


<script>
    function Create() {
        var url = '@Url.Action("CreateModal", "Urunler")';
        $.ajax({
            type: 'get',
            url: url
        }).then((result) => {
            $(".modal-content").html(result);
            $("#create").modal('show');
        }).catch((e)=> {
            alert("didn't work");
        });
    }

    function openEditModal(id) {
        var url = '/Urunler/EditModal/' + id;
        console.log(url); // Kontrol için URL'yi yazdır
        $.ajax({
            type: 'get',
            url: url
        }).then((result) => {
            debugger;
            $(".halildeneme").html(result);
            $("#edit").modal('show');
        }).catch((e) => {
            alert("Bir hata oluştu.");
        });
    }
</script>

<style>
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

        .table-responsive::-webkit-scrollbar {
            height: 5px; /* Yatay kaydırma çubuğu yüksekliği */
            background-color: #f5f5f5; /* Kaydırma çubuğu arka plan rengi */
        }

        .table-responsive::-webkit-scrollbar-thumb {
            background-color: #888; /* Kaydırma çubuğu rengi */
            border-radius: 5px; /* Kenar yuvarlama */
        }

    .container {
        max-width: 1200px; /* Tablonun genişliğini artırabilirsiniz */
        margin: 0 auto; /* Tabloyu merkezlemek için */
    }

    .table-responsive::-webkit-scrollbar-track {
        background: #f1f1f1; /* Kaydırma çubuğu izleme arka plan rengi */
    }
</style>